.callout-box {
  box-shadow: $box-shadow;
  @include callout($bg-grey-light);
  border-radius: $base-radius;

  &__close-btn {
    float: right;
  }

  &--green {
    @extend .callout-box;
    background: $green-rewards--dark-med;
    margin-bottom: $base-margin;
    color: $white;
  }

  &--red {
    background: $red-main--dark;
    @extend .callout-box;
    margin-bottom: $base-margin;
    color: $white;
  }

  &--ins-blue {
    background: $blue-insurance--dark-med;
    @extend .callout-box;
    margin-bottom: $base-margin;
    color: $white;
  }

  &--brand-blue-light {
    background: $blue-main-brand--dark-med;
    @extend .callout-box;
    margin-bottom: $base-margin;
    color: $white;
  }

  &--orange {
    @include callout($orange);
    margin-bottom: $base-margin;
    color: $white;
  }

  &--membership-summary {
    @include breakpoint(small only) {
      min-height: 320px;
    }
  }

  &__container {
    @include grid-row;
    @include clearfix;
  }

  &__sub-head {
    color: $white;
  }

  &__image-container {
    @include large-1;
    @include small-12;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__content-container {
    @include large-11;
    @include small-12;

    &--centered {
      @include absolute-center;
      text-align: center;
    }
  }

  &__link {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $ash;
    }
  }
}
