@font-face {
  font-family: "Knockout-48";
  src: asset-url("v2/webfonts/fonts/Knockout-48.otf") format('opentype'),
       asset-url("v2/webfonts/fonts/Knockout-48.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.knockout-font {
  font-family: "Knockout-48", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
