.button {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    background: lighten($button-background, 10%);
    text-decoration: none;
  }

  &--green-centered {
    @extend .button;
    $button-background: $brand-green;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: lighten($button-background, 10%);
    }
  }

  &--green {
    @extend .button;
    $button-background: $brand-green;
    background: $button-background;
    float: right;

    &:hover,
    &:active,
    &:focus {
      background: lighten($button-background, 10%);
    }
  }

  &--dark-blue {
    @extend .button;
    $button-background: $brand-blue-dark;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: lighten($button-background, 10%);
    }
  }

  &--de-emphasized {
    @extend .button;
    $button-background: $slate;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: lighten($button-background, 10%);
    }
  }

  &--brand-red {
    @extend .button;
    $button-background: $brand-red;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: lighten($button-background, 10%);
    }
  }

  &--left {
    @extend .button;
    float: left;
  }

  &--right {
    @extend .button;
    float: right;
  }

  &--center {
    @extend .button;
    float: none;
  }

  &--expand {
    @extend .button;
    @extend .expanded;
  }

  &--expand-medium-down {
    @extend .button;

    @include breakpoint(medium down) {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  &--expand-small-down {
    @extend .button;

    @include breakpoint(small down) {
      display: block;
      margin: 0 auto $base-margin auto;
      width: 100%;
    }
  }

  &--left-medium-up {
    @extend .button;

    @include breakpoint(medium up) {
      float: left;
    }
  }

  &--right-medium-up {
    @extend .button;

    @include breakpoint(medium up) {
      float: right;
    }
  }

  &--left-large-up {
    @extend .button;

    @include breakpoint(large up) {
      float: left;
    }
  }

  &--right-large-up {
    @extend .button;

    @include breakpoint(large up) {
      float: right;
    }
  }

  &--small {
    @extend .button;
    @extend .small;
  }

  &--fixed-br {
    @extend .button;
    position: fixed;
    right: 2rem;
    bottom: 0.5rem;
    z-index: 2;
  }

  &__link {
    line-height: inherit;
    color: $cerulean;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten($cerulean, 15%);
      text-decoration: none;
    }
  }
}

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
  background-color: lighten($secondary-color, 10%);
  border-color: none;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($secondary-color, 10%);
    border-color: none;
  }
}
