.feature{
  &__container{
    background: $white;
  }

  &__section-title{
    @extend .wisdom-script;
    text-align: center;
    font-size: $base-font-size*2.857;

    @include breakpoint(medium down){
      margin-top: $base-margin*2;
    }
  }

  &__item{
    padding: $base-padding*2 0;
    text-align: center;
  }

  &__image{
    margin: 0 auto $base-margin auto;
    width: 415px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    background-position: center;
    
    @include breakpoint(small only){
      max-width: 90%;
    }
  }

  &__content{
    @include breakpoint(large){
      width: 80%;
      margin: 0 auto;
    }
  }
}

#feature__image{
  &--devices{
    background-image: asset-url(devices);
  }

  &--membership{
    background-image: asset-url(membership);
  }

  &--vrar{
    background-image: asset-url(vrar);
  }

  &--automotive{
    background-image: asset-url(automotive);
  }

  &--rewards{
    background-image: asset-url(rewards);
  }

  &--subscriptions{
    background-image: asset-url(subscriptions);
  }

  &--gift-cards{
    background-image: asset-url(gift-card);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){
  #feature__image{
    &--devices{
      background-image: asset-url(devices2x);
    }

    &--feature--membership{
      background-image: asset-url(membership2x);
    }

    &--vrar{
      background-image: asset-url(vrar2x);
    }

    &--automotive{
      background-image: asset-url(automotive2x);
    }

    &--rewards{
      background-image: asset-url(rewards2x);
    }

    &--subscriptions{
      background-image: asset-url(subscriptions2x);
    }

    &--gift-cards{
      background-image: asset-url(gift-card2x);
    }
  }
}
