.icon-group {
  font-size: 1.75rem;
  line-height: 3rem;
  display: block;
  text-align: center;

  &__blue-icon {
    color: $brand-blue-light;
    font-size: 1.75rem;
  }

  &__grey-icon {
    color: $smoke;
    font-size: 1.75rem;
  }
}
