.notification{
  display: inline-block;
  position: relative;

  &__badge{
    @include badge;
    background: $brand-red;
    color: $white;
    line-height: 1.5;
    font-weight: bold;
    position: absolute;
    top: 13px;
    right: 381px;
  }

  @include breakpoint (medium down){
    &__icon{
      @include vertical-center;
      position: absolute;
      right: 15px;
    }

    &__badge{
      top: 13px;
      right: 5px;
    }
  }
}
