.notice--flash{
  padding: $base-padding/2 $base-padding;
  background-color: $brand-blue-insurance;
  color: $white;
  -webkit-animation: noticeFade 8s;
  -moz-animation: noticeFade 8s;
  -o-animation: noticeFade 8s;
   animation: noticeFade 8s;
   opacity: 0;
}

@keyframes noticeFade{
  0%   { opacity:0; }
  10%  { opacity:1; }
  90%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes noticeFade{
  0%   { opacity:0; }
  10%  { opacity:1; }
  90%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes noticeFade{
  0%   { opacity:0; }
  10%  { opacity:1; }
  90%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes noticeFade{
  0%   { opacity:0; }
  10%  { opacity:1; }
  90%  { opacity:1; }
  100% { opacity:0; }
}

.notice_notification{
  padding: $base-padding/2 $base-padding;
  background-color: $brand-blue-insurance;
  color: $white;
}

.error_notification{
  @extend .notice_notification;
  background-color: $brand-red;
}

.success_notification{
  @extend .notice_notification;
  background-color: $brand-green;
}

//Status error classes
.orange-warning-icon{
  @extend .fa;
  @extend .fa-exclamation-circle;
  @extend .orange-text;
}

.white-warning-icon{
  @extend .fa;
  @extend .fa-exclamation-circle;
  @extend .white-text;
}

.green-active-icon{
  @extend .fa;
  @extend .fa-check-circle;
  @extend .green-text;
}

.white-active-icon{
  @extend .fa;
  @extend .fa-check-circle;
  @extend .white-text;
}

.status-icon{
  font-size: 2rem !important; //needs important to overwrite the .fa font size
  text-align: center;
  margin: 0 auto;
  display: block;
}

.notice{
  color: $white;
  padding: $base-padding;
  margin-bottom: $base-margin;
  overflow: auto;

  &--warning{
    @extend .notice;
    background: $orange;
  }

  &__icon-wrapper{
    @include small-2;
  }

  &__icon{
    font-size: 2em;
    width: 100%;
    text-align: center;
  }

  &__text-wrapper{
    @include small-10;

    &>:last-child{
      margin-bottom: 0;
    }
  }
}
/* Notification Centre Styling starts here */
.right-sidebar{
  z-index: 9999;
  width: 350px;
  transform: translate(350px, 0px);

  &__bg{
    @extend .right-sidebar;
    background-color: $ash;
  }

  &__header-bg{
    background-color: $white;
    border-bottom: 2px solid $stone;
    border-left: 2px solid $stone;
    padding-bottom: $base-padding / 2;
  }

  &__notice{
    margin-top: $base-margin;

    &--active{
      padding-top: $base-padding;
      background-color: $sky;
      border-left: 5px solid $cerulean;
      border-right: 1px solid $cerulean;
      border-top: 1px solid $cerulean;
      border-bottom: 1px solid $cerulean;
    }

    &--inactive{
      padding-top: $base-padding / 2;
      background-color: $white;
      border-left: 5px solid $smoke;
      border-right: 1px solid $smoke;
      border-top: 1px solid $smoke;
      border-bottom: 1px solid $smoke;
    }
  }

  &__notice-icon{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: $medium-font-size;
    text-align: center;
    position: relative;
    top: 4px;

    &--red{
      @extend .right-sidebar__notice-icon;
      color: $white;
      background-color: $brand-red;
      float: left;
    }
    &--orange{
      @extend .right-sidebar__notice-icon;
      color: $white;
      background-color: $orange;
      float: left;
    }
  }
}

.notification{
    display: inline-block;
    position: relative;

  @include breakpoint (large){
    &__badge{
      @include badge;
      background: $brand-red;
      color: $white;
      line-height: 1.5;
      font-weight: bold;
      position: absolute;
      top: 13px;
      right: 381px;
    }
  }
  @include breakpoint (medium down){
    &__icon{
      @include vertical-center;
      position: absolute;
      right: 15px;
    }

    &__badge{
      @include badge;
      background: $brand-red;
      color: $white;
      line-height: 1.5;
      font-weight: bold;
      position: absolute;
      top: 13px;
      right: 5px;
    }
  }
}
