.option-toggle {
  &__list {
    list-style: none;
    margin-bottom: 0;
  }

  &__item {
    @include clearfix;
    margin: 1px 0;
    background-color: $white;
    color: $cerulean;
    position: relative;

    &:nth-child(even) {
      background-color: $ash;
    }

    &.visible {
      //this class isn't BEM because of the old JS in RR - KR
      background-color: $brand-blue-light;
      color: $white;

      .option-toggle__icon {
        background-color: $brand-blue-light;
        color: $white;
      }
    }
  }

  &__label {
    margin: 0 0 0 $base-margin;
    line-height: 24px;
    @include vertical-center;
  }

  &__icon-container {
    background-color: transparent;
    width: 60px;
    height: 50px;
    float: left;
    padding: $base-padding*1.5;
    position: relative;
  }

  &__icon {
    color: $cerulean;
    width: 100%;
    font-size: $base-font-size*1.75;
    left: 0;
    text-align: center;
    @include vertical-center;
  }
}
