.reveal-modal .close-reveal-modal,
dialog .close-reveal-modal{
  font-size: 2.5rem;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.6875rem;
  color: $slate;
  font-weight: bold;
  cursor: pointer;
}

.reveal-modal{
  max-width: 960px;
  position: relative;
  margin: 0 auto;

  a{
    text-decoration: none;
    font-weight: normal;
  }

  @include breakpoint(small only){
    top: 50px !important;
    min-height: 240px;
  }

  &__close{
    position: absolute;
    color: $slate;
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;

    &--white{
      @extend .reveal-modal__close;
      color: $white;
    }
  }
}

@include breakpoint(small only){
  .reveal{
    padding: $global-padding $global-padding 51px $global-padding; // 51 pixels to offset the height of the top bar
  }
}
