.right-sidebar{
  z-index: 9999;
  width: 350px;
  transform: translate(350px, 0px);
  background-color: $ash;

  @include breakpoint (small down){
    width: 90vw;
    transform: translate(90vw, 0px);
  }

  &__header{
    background-color: $white;
    border-bottom: 2px solid $stone;
    border-left: 2px solid $stone;
    padding-bottom: $base-padding / 2;
  }

  &__content{
    margin-top: $base-margin;

    &--active{
      padding-top: $base-padding;
      background-color: $sky;
      border-left: 5px solid $cerulean;
      border-right: 1px solid $cerulean;
      border-top: 1px solid $cerulean;
      border-bottom: 1px solid $cerulean;
    }

    &--inactive{
      padding-top: $base-padding / 2;
      background-color: $white;
      border-left: 5px solid $smoke;
      border-right: 1px solid $smoke;
      border-top: 1px solid $smoke;
      border-bottom: 1px solid $smoke;
    }
  }

  &__content-icon{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: $medium-font-size;
    text-align: center;
    padding-top: 3px;

    &--red{
      @extend .right-sidebar__content-icon;
      color: $white;
      background-color: $brand-red;
      float: left;
    }

    &--orange{
      @extend .right-sidebar__content-icon;
      color: $white;
      background-color: $orange;
      float: left;
    }
  }
}
