.subscriptions {
  .row {
    padding: 15px;

    &.section-heading {
      padding-left: 10px;
      background-color: #eeeeee;
      color: #6b6b6b;
    }

    &.subscription-item {
      background-color: #f7f7f7;
      color: #6b6b6b;
    }

    input[type="checkbox"] + label {
      border: none;
    }
  }
}
