.tabs{
  background-color: $white;
}
.tabs-title {
  a {
    padding: $base-padding;
    color: $cerulean;
  }
  background-color: $white;
}

.tabs-title.is-active {
  background-color: $cerulean;
  a {
    color: $white;
    background-color: $cerulean;
  }
  a:hover {
    background-color: $cerulean;
  }
}
