.tabs{
  background-color: $white;
}

.tabs-title{
  background-color: $white;

  a{
    padding: $base-padding;
    color: $cerulean;
  }
}

.tabs-title.is-active{
  background-color: $cerulean;

  a{
    color: $white;
    background-color: $cerulean;
  }

  a:hover{
    background-color: $cerulean;
  }
}
