.toggle-card {
  color: $white;
  font-size: 0.7rem;
  line-height: 15px;
  display: block;
  margin-bottom: $base-margin;
  text-decoration: underline;
  cursor: pointer;
}

#toggle-amount {
  color: $white;
  font-size: 0.7rem;
  line-height: 15px;
  display: block;
  text-decoration: underline;
  cursor: pointer;
}
