.button {
  text-decoration: none;
  box-shadow: $base-box-shadow;
  font-size: $button-font-size;
  font-weight: 900;

  &:hover,
  &:active,
  &:focus {
    background: darken($button-background, 10%);
    text-decoration: none;
  }

  &.disabled,
  &.disabled:active,
  &.disabled:hover,
  &.disabled:focus {
    background: lighten($button-background, 10%);
    border-color: none;
  }

  &--green-centered {
    @extend .button;
    $button-background: $green-rewards--dark-med;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: darken($button-background, 10%);
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &.disabled:focus {
      background: lighten($button-background, 10%);
      border-color: none;
    }
  }

  &--green {
    @extend .button;
    $button-background: $green-rewards--dark-med;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: darken($button-background, 10%);
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &.disabled:focus {
      background: lighten($button-background, 10%);
      border-color: none;
    }
  }

  &--dark-blue {
    @extend .button;
    $button-background: $blue-main-brand--dark-med;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: darken($button-background, 10%);
    }
  }

  &--de-emphasized {
    @extend .button;
    $button-background: $de-emphasized-button-color;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: darken($button-background, 10%);
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &.disabled:focus {
      background: lighten($button-background, 10%);
      border-color: none;
    }
  }

  &--brand-red {
    @extend .button;
    $button-background: $brand-red;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: darken($button-background, 10%);
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &.disabled:focus {
      background: lighten($button-background, 10%);
      border-color: none;
    }
  }

  &--ghost {
    @extend .button;
    display: grid;
    text-align: left;
    align-items: center;
    background-color: $white;
    border: 3px solid $blue-main-brand;
    min-height: 4.5rem;
    padding: $base-padding/2 $base-padding*3 $base-padding/2 $base-padding;
    color: $blue-main-brand;
    line-height: 1.65rem;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      background: lighten($blue-main-brand, 50%);
      color: $blue-main-brand;
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &.disabled:focus {
      border-color: lighten($blue-main-brand, 60%);
      color: lighten($blue-main-brand, 60%);
    }

    &::after {
      content: fa-content($fa-var-arrow-right);
      font-family: FontAwesome, "Font Awesome 5 Free";
      font-weight: $fa-solid;
      position: absolute;
      right: 1rem;
    }
  }

  &--white {
    @extend .button;
    $button-background: $white;
    background: $button-background;

    &:hover,
    &:active,
    &:focus {
      background: darken($bg-grey-lighter, 4%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
    }
  }

  &--red-text {
    @extend .button;
    color: $brand-red;

    &:hover,
    &:active,
    &:focus {
      color: lighten($brand-red, 10%);
    }
  }

  &--left {
    @extend .button;
    float: left;
  }

  &--right {
    @extend .button;
    float: right;
  }

  &--center {
    @extend .button;
    float: none;
  }

  &--expand {
    @extend .button;
    @extend .expanded;
  }

  &--expand-medium-down {
    @extend .button;

    @include breakpoint(medium down) {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  &--expand-small-down {
    @extend .button;

    @include breakpoint(small down) {
      display: block;
      margin: 0 auto $base-margin auto;
      width: 100%;
    }
  }

  &--left-medium-up {
    @extend .button;

    @include breakpoint(medium up) {
      float: left;
    }
  }

  &--right-medium-up {
    @extend .button;

    @include breakpoint(medium up) {
      float: right;
    }
  }

  &--left-large-up {
    @extend .button;

    @include breakpoint(large up) {
      float: left;
    }
  }

  &--right-large-up {
    @extend .button;

    @include breakpoint(large up) {
      float: right;
    }
  }

  &--small {
    @extend .button;
    @extend .small;
  }

  &--fixed-br {
    @extend .button;
    position: fixed;
    right: 2rem;
    bottom: 0.5rem;
    z-index: 2;
  }

  &__link {
    line-height: inherit;
    color: $cerulean;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten($cerulean, 15%);
      text-decoration: none;
    }
  }
}
