.member-card {
  width: 308px;
  height: 216px;
  position: relative;
  margin: 0 auto;

  &__card-front {
    background: url(image-path("membership-cards/temporary/front.png")) no-repeat;
  }

  &__card-back {
    background: url(image-path("membership-cards/temporary/back.png")) no-repeat;
  }

  &__label {
    position: absolute;
    font-size: $base-font-size*0.6;
    color: $charcoal;
    text-transform: uppercase;
  }

  &__data {
    position: absolute;
    color: $charcoal;
    font-weight: bold;
  }

  &__coverage {
    left: 145px;
    top: 45px;
    font-size: 16px;
    font-weight: bold;
  }

  &__clubcode {
    left: 15px;
    top: 70px;
  }

  &__membership-number-label {
    left: 102px;
    top: 70px;
  }

  &__membership-number {
    font-size: $base-font-size*1.6;
    left: 15px;
    top: 75px;
  }

  &__expiry-label {
    left: 15px;
    top: 108px;
  }

  &__expiry {
    left: 15px;
    top: 117px;
  }

  &__name {
    font-size: $base-font-size*1.2;
    left: 15px;
    top: 150px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
  }
}
