.promo-block {
  position: relative;
  overflow: auto;

  &__divider {
    @include show-for(medium);
    position: absolute;
    color: $smoke;
    font-size: 1.75rem;
    top: 30%;

    &--left {
      @extend .promo-block__divider;
      left: 33%;
    }

    &--right {
      @extend .promo-block__divider;
      right: 33%;
    }
  }

  &__item {
    @include clearfix;
    @include medium-4;
    text-align: center;

    @include breakpoint(small down) {
      text-align: left;

      p {
        @include small-9;
      }
    }
  }

  &__icon-container {
    margin: 0 0 $base-margin 0;
    @include breakpoint(small down) {
      @include small-3;
      padding: 0;
    }
  }

  &__icon-background {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    background: $smoke;
    position: relative;

    @include breakpoint(small down) {
      width: 60%;
      height: auto;
      padding-top: 60%;
      min-width: 65px;
      min-height: 65px;
    }

    &--round {
      @extend .promo-block__icon-background;
      border-radius: 100%;
    }
  }

  &__icon {
    color: $white;
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
    left: 0;
    @include absolute-center;

    @include breakpoint(small down) {
      font-size: 2.5rem;
    }

    &-image {
      @extend .promo-block__icon;
      height: 50px;

      @include breakpoint(small down) {
        height: 31px;
      }
    }
  }
}
