/* Main Brand Blue */
$blue-main-brand: #246ca9;
$blue-main-brand--dark: #0e2b44;
$blue-main-brand--dark-med: #194c76;
$blue-main-brand--light-med: #6698c3;
$blue-main-brand--light: #bdd3e5;

/* Secondary Navy Blue */
$blue-secondary-brand: #022859;
$blue-secondary-brand--dark: #022047;
$blue-secondary-brand--light-med: #35537a;
$blue-secondary-brand--light: #B3BFCD;

/* Insurance Blue */
$blue-insurance: #52bdff;
$blue-insurance--dark: #214c66;
$blue-insurance--dark-med: #3984b3;
$blue-insurance--light-med: #86d1ff;
$blue-insurance--light: #86d1ff;

/* Main Brand Red */
$red-main: #f24141;
$red-main--dark-med: #792121;
$red-main--dark: #a92e2e;
$red-main--light-med: #f67a7a;
$red-main--light: #fcd9d9;

/* Rewards Green */
$green-rewards: #83d97a;
$green-rewards--dark: #437043;
$green-rewards--dark-med: #5c9855;
$green-rewards--light-med: #a8e4a2;
$green-rewards--light: #cdf0ca;

/* Travel Orange */
$orange-travel: #f67d31;
$orange-travel--dark-med: #dd712c;
$orange-travel--dark: #ac5822;
$orange-travel--light-med: #f9a46f;
$orange-travel--light: #fbcbad;

/* Tertiary Colours */
$tertiary-purple: #55487c;
$tertiary-yellow: #ffd275;

/* Background Colours (From Marketing Site) */
$blue-main-brand--lighter: #bdd3e5;
$bg-blue-light: #ddeaf3;
$bg-grey-lightest: #e5e5e5;
$bg-grey-light: #dbdbdb;
$bg-grey-dark: #010C1A;
$white: #ffffff;
$black: #010c1a;

/* Text Colours */
$dark-grey-text: #414042;
$text-muted: #727272;
$hyperlink-blue: $blue-main-brand;
$dark-hyperlink-blue: $blue-main-brand--dark-med;


/* ------------ START Old V1 Colours ------------ */

$brand-red: #da291c;
$sangria: #780000;
$green: #3fae60;
$brand-green: #78be20; //Rewards Green
$brand-blue-insurance:#00a3e0;
$orange: #e7992b;
$canary: #FFC345;

// Blue tones - ordered from lightest to darkest
$sky: #e2f4fc;
$dark-sky: #b4e2f7;
$powder-blue: #b4d1e9;
$ocean: #8cceec;
$cerulean: #2577be;
$brand-blue-light: #00539b;
$brand-blue-dark: #00205b;

// Grey tones - ordered from lightest to darkest
$ash: #f7f7f7;
$stone: #eeeeee;
$smoke: #cccccc;
$stormcloud: #959595;
$slate: #838383;
$charcoal: #656565;
$jet: #323232;

/* ------------ END Old V1 Colours ------------ */

// For foundation
$primary-color: $blue-main-brand--dark;
$secondary-color: $blue-main-brand;
// Fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-headings: latoblack, latoregular, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size*1.0;
$medium-font-size: $base-font-size*1.25;
$large-font-size: $base-font-size*1.75;
$x-large-font-size: $base-font-size*2;
// Spacing
$base-margin: 1rem;
$base-padding: 1rem;
// Borders
$base-border: 1px solid $stone;
// Radius
$base-radius: 9px;
// Drop-shadow
$base-box-shadow: 2.5px 4.33px 6.86px 0.14px rgba(24, 24, 24, 0.35)!important;
// Top-Bar
$top-bar-height: 53px;
// Tiering
$de-emphasized-button-color: $slate;
