.banner {
  position: relative; // This is needed for the positioning of the close icon on the blue banners
  margin-bottom: $base-margin*3;
  border-radius: $base-radius;
  box-shadow: $base-box-shadow;
  padding: $base-padding*2 $base-padding*3 !important;
  //important is temporarily necessary until we can edit the html in phase 2 of reskin to overwrite cascade of p1
  //on green and orange banners.

  & > :last-child {
    margin-bottom: 0;
  }

  &--blue {
    @extend .banner;
    background: $blue-insurance--dark-med;
  }

  &--red {
    @extend .banner;
    background: $red-main--dark;
  }

  &--brand-blue-light {
    @extend .banner;
    background: $blue-main-brand--dark-med;
  }

  &__title {
    width: 95%;
  }

  &__title,
  &__text {
    color: $white;
  }

  &__container {
    @include grid-row;
    @include clearfix;
  }

  &__image-container {
    @include medium-2;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__content-container {
    @include medium-10;
  }

  &__content {
    position: relative;

    &--vertical-center {
      @include breakpoint(large) {
        @include vertical-center;
      }
    }
  }

  &__link {
    @extend .link--white;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;

    &--white {
      @extend .banner__close;
      color: $white;
    }
  }

  &--pushed-fixed {
    left: 300px;
    width: calc(100% - 300px);
    position: fixed;
    z-index: 1;
  }
}
