.card {
  background: $white;
  padding: $base-padding*2 $base-padding*3;
  text-align: center;
  margin-bottom: $base-margin*3;
  box-shadow: $base-box-shadow;
  border-radius: $base-radius;

  &__title {
    padding: $base-padding*0.75 $base-padding;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;

    @include breakpoint(small only) {
      font-size: $base-font-size*1.25;
    }

    &--bg-blue {
      color: $dark-grey-text;
      margin-bottom: $base-margin*2;

      @include breakpoint(medium up) {
        margin-bottom: $base-margin*2;
      }
    }
  }

  &__image {
    margin-bottom: $base-margin;
  }

  &__content {
    padding-left: $base-padding;
    padding-right: $base-padding;

    &--bg-ash {
      background: transparent;
      border-top: transparent;
      border-bottom: transparent;
      padding-top: $base-padding;
      margin-bottom: $base-margin;
    }
  }
}
