.summary-cart {
  list-style-type: none;
  margin-bottom: 0;
  position: relative;
  z-index: 1; //prevent cart from going underneath footer on short screens
  box-shadow: 2.55px 4.33px 6.86px 1.14px rgba(24, 24, 24, 0.34);
  padding: $base-padding;
  border-radius: $global-radius;
  border-top: 2rem solid $blue-secondary-brand--light;

  @include breakpoint(medium down) {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  &__container {
    @extend .float-right; //needed to override the default column behavior (left aligned)
    @include medium-4;
  }

  &__title {
    float: left;
    color: $blue-secondary-brand--light-med;
    font-size: 1.25rem;
    padding: 0 $base-padding;
  }

  &__accordion-toggle-icon {
    @include hide-for(large);
    width: 16px;
    height: 16px;
    float: right;
    color: $white;
    margin-top: $base-margin*0.6;
  }

  &__item-count {
    @include hide-for(large);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    text-align: center;
    line-height: 30px;
    color: $white;
    font-weight: bold;
    margin-right: $base-margin;
    background: lighten($brand-green, 5%);
  }

  &__content {
    background: $white;
    padding: $base-padding;
    @include clearfix;
  }

  &__list {
    overflow-y: auto;
    max-height: auto;
    list-style: none;
    margin: 0;
    list-style-type: none;

    @include breakpoint(small) {
      max-height: 150px;
    }

    @include breakpoint(large) {
      max-height: 320px;
    }
  }

  &__list-item {
    padding: $base-padding;
    margin-bottom: $base-margin;

    &:not(:nth-child(1)) {
      border-top: 1px solid $smoke;
      padding-top: $base-padding*2;
    }
  }

  &__submit {
    list-style-type: none;
    margin-left: 0;
  }

  &__remove {
    float: right;

    .fa-times-circle-o {
      font-size: $base-font-size*2;
    }
  }

  &__remove-link {
    color: $slate;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $charcoal;
    }
  }

  .summary-flash-notice {
    color: $white;
    background: $brand-blue-insurance;

    p,
    a,
    a:hover,
    a:focus {
      color: $white;
    }

    &:not(:nth-child(1)) {
      border-top: none;
    }
  }
}

.delete-icon {
  //same one used in the cart and on info charts it lives outside of cart so it can be used other places
  float: right;

  .fa-times-circle-o {
    font-size: $base-font-size*2;
  }

  a {
    color: $slate;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $charcoal;
    }
  }
}
