.cx-webchat.cx-theme-ama {
  .cx-menu {
    li.cx-branding-icon {
      display: none;
    }
  }

  .cx-form {
    th {
      .cx-control-label {
        font-weight: normal;
      }
    }
  }

  .cx-message-group {
    .cx-message .cx-avatar-wrapper {
      .cx-avatar.agent {
        svg.cx-svg-icon-tone1 {
          fill: $blue-main-brand;
        }
      }
    }
  }

  .cx-transcript {
    .cx-message {
      .cx-name {
        font-weight: bold !important;
      }
    }

    .cx-message.cx-you {
      .cx-bubble {
        background-color: $sky;
      }
    }

    .cx-message.cx-them {
      .cx-bubble {
        background-color: $sky;
      }
    }

    .cx-message.cx-date {
      border: 2px solid $blue-main-brand !important;
    }
  }
}

.cx-bubble-arrow {
  svg {
    fill: $sky;
  }
}

.cx-message.cx-date {
  color: $blue-main-brand;
}

.cx-message-chat {
  color: $blue-main-brand;
}

.cx-widget {
  font-family: $font-family-sans-serif !important;
}

.cx-webchat div.cx-input-container {
  border-width: 2px 0 0 !important;
}

.cx-widget.cx-theme-ama {
  * {
    border-color: $blue-main-brand;
  }
  color: $slate;
  background-color: $white;

  .cx-overlay {
    background-color: $blue-main-brand;
  }

  .cx-svg-icon-tone1 {
    fill: $white;
  }

  .cx-titlebar {
    background: $blue-main-brand;
    padding: 9px 20px !important;

    .cx-title {
      color: $white;
      font-size: 20px;
      font-weight: $header-font-weight;
    }
  }

  .cx-form-control {
    border-radius: $base-radius;
  }

  .cx-buttons-window-control .cx-svg-icon-tone1 {
    fill: $white;
  }

  .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: $white;
  }

  label {
    color: $slate !important;
    font-size: 1em;
  }

  a {
    color: $slate;
  }

  a:hover {
    color: $blue-main-brand;
  }

  .cx-dropdown {
    color: $jet;
  }

  .cx-icon-alert-circle {
    color: $brand-red;
  }

  .cx-footer {
    color: transparent;
    height: 0;
    padding: 10px;

    * {
      fill: transparent;
    }
  }

  .cx-form-control.cx-error {
    border-color: $brand-red;
  }

  .cx-form-control::placeholder {
    color: $smoke;
  }

  .cx-form-control:-moz-placeholder {
    color: $smoke;
  }

  .cx-form-control::-moz-placeholder {
    color: $smoke;
  }

  .cx-form-control:-ms-input-placeholder {
    color: $smoke;
  }

  .cx-form-control::-webkit-input-placeholder {
    color: $smoke;
  }

  input:focus,
  textarea:focus,
  .cx-btn:focus,
  .cx-button-group button:focus,
  .cx-form-control:focus {
    border-color: $blue-main-brand;
    border-width: 2px;
    border-style: solid;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background-color: $white;
    color: $black;
    font-size: 1em;
    border-color: $form-border-color;
    border-width: 2px;
    border-style: solid;
    line-height: 24px;
    min-height: 40px;
    border-radius: $base-radius;
  }

  .cx-border-error {
    border-color: $brand-red;
  }

  .cx-btn {
    border-radius: $base-radius;
    font-size: 1em;
    font-weight: normal;
  }

  .cx-btn-default {
    border-color: $slate;
    color: $white;
    background-color: $slate;
  }

  .cx-btn.cx-disabled {
    background: $slate;
  }

  .cx-btn-primary {
    color: $white;
    border-color: $blue-main-brand;
    background: $blue-main-brand;
  }

  .cx-smokescreen {
    background-color: $jet;
    opacity: 0.7;
  }
}
