// Sticky footer setup
$footer-push-small: 594px;
$footer-push-medium: 419px;
$footer-push-large: 321px;

html,
body {
  height: 100%;
}

.off-canvas-wrapper {
  &.no-footer {
    height: 100%;
    @include breakpoint(small only) {
      overflow-y: scroll;
    }
  }
}

.off-canvas-wrapper:not(.no-footer) {
  min-height: 100%;

  @include breakpoint(small only) {
    margin-bottom: -$footer-push-small;
  }

  @include breakpoint(medium only) {
    margin-bottom: -$footer-push-medium;
  }

  @include breakpoint(large up) {
    margin-bottom: -$footer-push-large;
  }

  &::after {
    content: "";
    display: block;

    @include breakpoint(small only) {
      height: $footer-push-small;
    }

    @include breakpoint(medium only) {
      height: $footer-push-medium;
    }

    @include breakpoint(large up) {
      height: $footer-push-large;
    }
  }
}

// Footer styles
.page-footer {
  background: $bg-grey-dark;
  position: relative;
  font-family: 'Lato', sans-serif;
  padding: $base-padding*2 0;

  &__container {
    @include grid-row;
    @include breakpoint(medium only) {
      max-width: 704px;
    }
  
    @include breakpoint(large only) {
      max-width: 992px;
    }
    @include breakpoint(xlarge only) {
      max-width: 1334px;
    }
  
    @include breakpoint(xxlarge up) {
      max-width: 1440px;
    }
  }

  &__col {
    @include large-3;
    display: none;

    @include breakpoint(large up) {
      max-width: 992px;
      display: block;
    }
  }

  &__col-mobile {


    @include breakpoint(large up) {
      max-width: 992px;
      display: none;
    }
  }

  &__col-right {
    @include large-2;
  }

  &__col-header {
    font-size: $base-font-size*1.5;
    font-weight: 900;
    color: $white;
    padding-bottom: $base-padding;
    line-height: 1.2;
    position: relative;

    &--small {
      font-size: $base-font-size*0.875;
      font-weight: 900;
      color: $white;
      padding-bottom: $base-padding;
      line-height: 1.2;
    }
  }

  //This is to line up the social media icons with the text
  &__col:last-child &__col-header { 
    padding-bottom: $base-padding*1.5;
  }

  &__col-social {
    padding-bottom: $base-padding*2;

    @include breakpoint(large up) {
      padding-bottom: $base-padding*8;
    }

    img {
      width: 40px;

      @include breakpoint(large only) {
        width: 30px;
      }
    }
  }

  &__policy {
    @include grid-row;
    margin-top: $base-margin;
    padding-top: $base-padding*2;
    border-top: 1px solid $white;

    @include breakpoint(medium only) {
      max-width: 704px;
    }
  
    @include breakpoint(large only) {
      max-width: 992px;
    }

    @include breakpoint(xlarge only) {
      max-width: 1334px;
    }
  
    @include breakpoint(xxlarge up) {
      max-width: 1440px;
    }

    .footer-link {
      color: $white;
      font-size: $base-font-size;
    }

    .footer-link:hover {
      color: $white;
    }
  }

  .link-list {
    display: none;

    @include breakpoint(large up) {
      display: inline;
    }
  }
}

.policy-text {
  text-align: center;
  padding-bottom: $base-padding;

  @include breakpoint(large up) {
    text-align: right;
    padding-bottom: 0;
  }
}

.policy-ama {
  text-align: center;
  padding-top: $base-padding;

  @include breakpoint(large up) {
    text-align: left;
    padding-top: 0;
  }
}

.affiliate-link {
  text-align: center;
  color: $white;
  font-size: $base-font-size;

  p {
    line-height: 1rem!important;
    margin-top: $base-margin*0.5;
  }

}

.footer-copyright {
  text-align: center;

  @include breakpoint(large up) {
    text-align: right;
  }
}

.is-accordion-submenu-parent > a:after {
  display: block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  position: absolute;
  top: 20%;
  margin-top: -3px;
  right: 1rem;
}

.is-accordion-submenu-parent {
  a:focus {
    color: $white;
  }

  a:hover{
    color: $white;
  }
}
