// Sticky footer setup
$footer-push-small: 594px;
$footer-push-medium: 419px;
$footer-push-large: 321px;

html,
body {
  height: 100%;
}

.off-canvas-wrapper {
  &.no-footer {
    height: 100%;
    @include breakpoint(small only) {
      overflow-y: scroll;
    }
  }
}

.off-canvas-wrapper:not(.no-footer) {
  min-height: 100%;

  @include breakpoint(small only) {
    margin-bottom: -$footer-push-small;
  }

  @include breakpoint(medium only) {
    margin-bottom: -$footer-push-medium;
  }

  @include breakpoint(large up) {
    margin-bottom: -$footer-push-large;
  }

  &::after {
    content: "";
    display: block;

    @include breakpoint(small only) {
      height: $footer-push-small;
    }

    @include breakpoint(medium only) {
      height: $footer-push-medium;
    }

    @include breakpoint(large up) {
      height: $footer-push-large;
    }
  }
}

// Footer styles
.page-footer {
  background: $bg-grey-dark;
  position: relative;
  font-family: 'Lato', sans-serif;

  &__container {
    @include grid-row;
    max-width: 1440px;
    padding-top: $base-padding*2;
  }

  &__col {
    @include medium-6;
    @include large-2;
  }

  &__col-header {
    font-size: $base-font-size*1.5;
    font-weight: 900;
    color: $white;
    padding-bottom: $base-padding;
    line-height: 1.2;
  }

  &__list {
    list-style-type: none;
    font-weight: 400;
  }

  &__link {
    color: $white;
  }
}
