.hero {
  &--grey {
    margin: 0 auto;

    @include breakpoint(medium down) {
      margin-top: $base-margin;
    }

    .section-content--smoke-bg {
      background: transparent;
      border-top: $base-border;
    }

    .section__content {
      border-radius: $base-radius;
      padding: $base-padding*2 $base-padding;
    }

    .section__content--smoke-bg {
      background: transparent;
    }
  }

  &__heading {
    @extend h3;
    line-height: 1.25;
    margin-bottom: $base-margin;
  }

  &__image {
    margin: $base-margin*2 0;
    width: 540px;
    height: 193px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    background-position: center;
  }
}

.row-fluid {
  @include grid-row;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;

  @include breakpoint(medium down) {
    margin: 0;
    padding: $base-padding 0;
  }
}

.hero--cerulean {
  padding: 0 $base-padding;
  width: 100%;
  background: $bg-grey-lightest;

  .section-half:first-of-type {
    background: $white;
    border-radius: $base-radius;
  }

  .section-half:last-of-type {
    padding: 0 $base-padding;

    @include breakpoint(large) {
      padding: 0 $base-padding*3;
    }
  }

  .section-heading {
    padding: $base-padding*2 $base-padding;
  }

  .section-content--smoke-bg {
    background: transparent;
    border-top: $base-border;
  }

  .white-text {
    color: $dark-grey-text;
  }
}
