.icon-info-box {
  margin-bottom: $base-margin;

  &__icon-bg {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  &__icon-container {
    padding: 0 $base-padding;
  }

  &__icon {
    font-size: 4rem;
  }

  &__content {
    padding: $base-padding;

    .section__sub-head{
      @extend .h5;
      margin-bottom: $base-margin;
    }
  }

  &__link {
    display: block;
    font-weight: bold;
    border-bottom: 4px solid $hyperlink-blue;
    width: fit-content;

    &::after {
      font-family: "FontAwesome";
      content: "\f07d";
    }

    &:hover {
      text-decoration: none;
    }
  }
}
