.icon-group {
  font-size: 1.75rem;
  line-height: 3rem;
  display: block;
  text-align: center;
  min-height: 60px;

  &__blue-icon {
    color: $blue-secondary-brand--light-med;
    font-size: 1.75rem;
  }

  &__grey-icon {
    color: $bg-grey-light;
    font-size: 1.75rem;
  }
}
