.link--white {
  color: $white;
  text-decoration: underline !important;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $white;
  }
}

.link--no-underline,
.link--no-underline:hover {
  text-decoration: none;
}

.is-dropdown-submenu-parent .link--no-underline,
.is-dropdown-submenu-parent .link--no-underline:hover {
  text-decoration: none;
  color: $white;
}

.dropdown.menu .is-active > a {
  color: $white;
}
