.link-list {
  list-style-type: none;

  &__item {
    padding-bottom: $base-padding/2;
    font-weight: bold;

    &--bordered {
      @extend .link-list__item;

      &:not(:first-child) {
        padding-top: $base-padding/2;
      }
    }

    &--grey-bordered {
      padding-bottom: $base-padding/2;

      &:not(:first-child) {
        padding-top: $base-padding/2;
      }
    }
  }

  &__link {
    &--white {
      color: $white;
    }
  }
}

.link-list-horizontal {
  list-style-type: none;

  &__item {
    display: inline;
  }
}

.icon-link-list {
  list-style-type: none;

  &__item {
    border-bottom: 1px solid $smoke;
    margin-top: 7.5px;
  }

  &__icon {
    padding: 8.5px 13px;
    color: $white;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 1.875rem;
    width: 57px;
    display: inline-block;
    background: $brand-blue-light;
  }

  &__link {
    display: inline;
  }
}
