.progress-bar {
  @include hide-for(small only);
  overflow: auto;

  &__section {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  &__section-quarter {
    width: 25%;
    float: left;
    position: relative;
    color: $white;
    overflow: hidden;
    padding: 6px 0;

    &:last-child:not(:first-child) {
      float: none;
    }
  }

  &__section-info {
    display: block;
    color: $blue-main-brand--dark-med;
    font-weight: bold;
  }

  &__section-title {
    font-size: 1.6rem;
    color: $blue-main-brand--dark-med;
    background: $white;
    border-radius: 30px;
    border: 2px solid $blue-insurance--light-med;
    width: fit-content;
    padding: $base-padding/2 $base-padding;
    margin: 0 auto;
  }

  &__arrow {
    background: $white;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 25%;

    @include breakpoint(medium down) {
      display: none;
    }

    &--selected {
      @extend .progress-bar__arrow;
      background: $blue-insurance--light-med;
    }

    &--completed {
      @extend .progress-bar__arrow;
      background: $blue-insurance--light-med;
    }

    &--very-completed {
      @extend .progress-bar__arrow;
      background: $blue-insurance--light-med;
    }
  }
}

//temporary phase 1 v3 fix
.progress-bar .progress-bar--selected .progress-bar__section-title,
.progress-bar .progress-bar--completed .progress-bar__section-title {
  color: $white;
  background: $blue-main-brand;
  border-radius: 30px;
  border: 2px solid $white;
}

.progress-bar .progress-bar--selected:nth-of-type(1) .progress-bar__arrow--selected,
.progress-bar .progress-bar--completed:nth-of-type(1) .progress-bar__arrow--completed,
.progress-bar .progress-bar--completed:nth-of-type(1) .progress-bar__arrow--very-completed {
  width: 50%;
  left: 50%;
}

.progress-bar .progress-bar__section--inactive:last-of-type .progress-bar__section::after {
  @include breakpoint(large up) {
    content: "";
    background: $white;
    height: 20px;
    width: 50%;
    position: absolute;
    top: 20%;
    z-index: -1;
    left: 0;
  }
}

.progress-bar[data-step-index="3"] .progress-bar--selected .progress-bar__section::after{
  @include breakpoint(large up) {
    content: "";
    background: $blue-insurance--light-med;
    height: 20px;
    width: 50%;
    position: absolute;
    top: 20%;
    z-index: -1;
    left: 0;
  }
}

.progress-bar-vertical {
  list-style: none;
  position: relative;

  &__guide {
    height: 100%;
    position: absolute;
    width: 2px;
    background-color: $stone;
    left: 17px;
  }

  &__step {
    @extend .clearfix;
    position: relative;
    margin-bottom: $base-margin*1.4;
  }

  &__icon {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    background-color: $stone;
    position: relative;
    float: left;

    &--active {
      @extend .progress-bar-vertical__icon;
      background-color: $brand-blue-light;
      color: $white;
    }

    &--complete {
      @extend .progress-bar-vertical__icon;
      background-color: $cerulean;
      color: $white;
      font-weight: normal;

      &::before {
        @include vertical-center;
        left: 0;
        width: 100%;
      }
    }
  }

  &__content {
    position: relative;
    float: left;
    margin-left: $base-margin*1.5;
    line-height: 16px;
    max-width: 74%;
  }

  &__content-remove {
    line-height: 23px;
    margin-left: $base-margin*0.35;
  }
}

.progress-bar-horizontal {
  list-style: none;
  position: relative;
  margin: 0 auto;
  display: table;
  width: 100%;
  @include clearfix;

  @include breakpoint(medium only) {
    max-width: 546px;
  }

  &__guide {
    width: 80%;
    left: 10%;
    position: absolute;
    height: 2px;
    background-color: $stone;
    top: 70%;
  }

  &__step {
    position: relative;
    display: table-cell;

    @include breakpoint(medium only) {
      margin-right: 9%;
    }
  }

  &__icon {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    background-color: $stone;
    position: relative;
    line-height: 37px;

    @include breakpoint(medium only) {
      width: 50px;
      height: 50px;
      font-size: 26px;
      line-height: 50px;
    }

    &--active {
      @extend .progress-bar-horizontal__icon;
      background-color: $brand-blue-light;
      color: $white;
    }

    &--complete {
      @extend .progress-bar-horizontal__icon;
      background-color: $cerulean;
      color: $white;
      font-weight: normal;

      &::before {
        @include vertical-center;
        left: 0;
        width: 100%;
      }
    }
  }

  &__content {
    line-height: $base-font-size*1.5;
    text-align: center;
    margin-bottom: $base-margin*0.65;
    display: block;
    font-size: $small-font-size;

    @include breakpoint(medium only) {
      font-size: $base-font-size;
    }
  }
}
