.responsive-table {
  border-style: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  thead, tbody {
    border: none;
  }

  th, td {
    padding: $base-padding;
    text-align: left;
    border-right: 1px solid $bg-grey-light;

    &:last-child {
      border-style: none;
    }
  }

  th {
    background-color: $bg-grey-lighter;
  }

  tr {
    background-color: $white;
  }

  tbody tr:nth-child(even) {
    background-color: $bg-grey-lightest;
  }

  @include breakpoint(small only) {
    thead {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
      padding: $base-padding;
      font-size: $base-font-size;
      border-top: 1px solid $bg-grey-light!important;

      &:last-child {
        border-bottom: 1px solid $bg-grey-light!important;
      }
    }

    th, td {
      padding: 0;
      border-style: none;
    }

    td {
      display: block;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
}
