.right-sidebar {
  z-index: 9999;
  width: 700px;
  transform: translate(-300px, -100%);
  position: fixed;
  top: 53px;
  background-color: $white;
  height: auto;
  padding-bottom: $base-padding;
  box-shadow: $base-box-shadow;
  border-radius: 0 0 $base-radius $base-radius;

  @include breakpoint (medium down) {
    width: 90vw;
    transform: translate(0, -100%);
  }

  &__header {
    display: none;
  }

  .row:not(:last-child) {
    border-bottom: $hr-border;
  }

  &__content {
    margin-top: $base-margin;

    &--active {
      padding-top: $base-padding;
      background-color: $sky;
      border-left: 5px solid $cerulean;
      border-right: 1px solid $cerulean;
      border-top: 1px solid $cerulean;
      border-bottom: 1px solid $cerulean;
    }

    &--inactive {
      padding-top: $base-padding / 2;
      background-color: $white;
      border-left: 5px solid $smoke;
      border-right: 1px solid $smoke;
      border-top: 1px solid $smoke;
      border-bottom: 1px solid $smoke;
    }
  }

  &__content-icon {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: $medium-font-size;
    text-align: center;
    padding-top: 3px;

    &--red {
      @extend .right-sidebar__content-icon;
      color: $white;
      background-color: $brand-red;
      float: left;
    }

    &--orange {
      @extend .right-sidebar__content-icon;
      color: $white;
      background-color: $orange;
      float: left;
    }
  }
}

.right-sidebar.is-open {
  transform: translate(-300px, 0);

  @include breakpoint (medium down) {
    transform: translate(0, 0);
  }
}
