.side-nav {
  background: $white;
  @include grid-column(2,0);

  @include breakpoint(medium down) {
    display: none;
  }

  &__spacer {
    @include large-2;
    height: 100%;
    position: absolute;
    z-index: -1; //to prevent overlap with notifications

    &--white {
      @extend .side-nav__spacer;
      background-color: $white;
    }

    &--show-for-medium {
      @extend .side-nav__spacer;
      @include breakpoint(medium down) {
        display: block;
      }
    }
  }

  &__header {
    @extend .heading;
    background: $cerulean;
    color: $white;
  }

  &__content {
    padding: $base-padding;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-bottom: $base-margin;
  }

  &__link {
    display: block;
    font-weight: 600;
    color: $jet;
    margin-bottom: $base-margin/2;
    cursor: pointer;
    line-height: inherit;

    &:hover {
      color: lighten($cerulean, 15%);
    }
  }

  &__child-list {
    list-style-type: none;
  }

  &__child-item {
    margin-bottom: $base-margin/2;
  }

  &__child-link {
    color: $stormcloud;
    font-size: rem-calc(12);

    &:active,
    &:hover,
    &:focus {
      $anchor-color: $cerulean;
      color: $anchor-color-hover;
    }

    &--active-page {
      font-weight: bold;
      color: $cerulean;
    }
  }

  &--overlay {
    @extend .side-nav;
    z-index: 1000;
    position: absolute;
    min-width: 300px;

    @include breakpoint(medium down) {
      position: relative;
    }

    @include breakpoint(small only) {
      width: 100%;
    }
  }
}
