/* Desktop Header/Side-Nav */

// TODO:
// - Change all REMs to proper variables
// - Change all shadows to proper variables
// - Check if any styles can be consolidated into each other?
// - Click slop on desktop (cursor pointer doesn't click)

.side-nav {
  @include grid-column(12,0);
  background: $white;
  box-shadow: $base-box-shadow;
  height: $side-nav-height;
  position: fixed;
  top: $top-bar-height;
  z-index: 9000;

  @include breakpoint(medium down) {
    display: none;
  }

  .logo {
    background-image: asset-url(ama-logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2rem;
    object-fit: contain;
    padding: 1rem;
    width: 100px;
  }

  &__spacer {
    @include large-2;
    height: 100%;
    position: absolute;
    z-index: -1; //to prevent overlap with notifications

    &--white {
      @extend .side-nav__spacer;
      background-color: $white;
    }

    &--show-for-medium {
      @extend .side-nav__spacer;
      @include breakpoint(medium down) {
        display: block;
      }
    }
  }

  &__header {
    @extend .heading;
    background: $cerulean;
    color: $white;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
  }

  &__content {
    display: flex;
  }

  &__content-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 1rem;
  }

  &__item {
    align-items: center;
    border-bottom: $base-padding/2 solid transparent;
    cursor: pointer;
    display: flex;
    height: $side-nav-height;
    justify-content: center;
    padding: $base-padding $base-padding $base-padding/2 $base-padding;

    &:hover {
      border-bottom: $base-padding/2 solid $blue-main-brand;

      .side-nav__child-list {
        display: block;
      }
    }
  }

  &__link {
    color: $dark-grey-text;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;

    @media screen and (max-width: 1430px) {
      font-size: .875rem;
    }

    &:hover {
      color: $dark-grey-text;
      text-decoration: none;
    }
  }

  // The following box shadow is custom to make the header dropdown appear as though it is below the header itself. 
  // (Unable to do with z-index since a child can not have a lower z-index than it's parent)
  &__child-list {
    background-color: $white;
    box-shadow:
      2.5px 7px 7.86px -2px rgba(24, 24, 24, 0.35),
      inset 2.5px 11px 10px -10px rgba(24, 24, 24, 0.6);
    display: none;
    left: 1rem;
    list-style-type: none;
    padding: 0 2rem;
    position: absolute;
    top: $side-nav-height;
    width: calc(100% - 4rem);
    z-index: 10;

    li:first-of-type {
      border-bottom: 1px solid $bg-grey-light;
      padding-bottom: 0.5rem;
      padding-top: 1rem;

      &::after {
        color: $black;
        content: fa-content($fa-var-angle-double-right);
        // font-family: "Font Awesome 5 Free";
        font-family: "FontAwesome";
        margin-left: 1rem;
      }
    }

    li:last-of-type {
      border-bottom: none;
      padding-bottom: 1rem;
    }
  }

  &__child-item {
    margin-bottom: $base-margin/2;
    width: fit-content;
  }

  &__child-link {
    color: $black;
    font-size: 1rem;
    font-weight: 600;

    &:active,
    &:hover,
    &:focus {
      $anchor-color: $black;
      color: $black;
    }

    &--active-page {
      color: $cerulean;
      font-weight: bold;
    }
  }

  &--overlay {
    @extend .side-nav;
    min-width: 300px;
    position: absolute;
    z-index: 1000;

    @include breakpoint(medium down) {
      position: relative;
    }

    @include breakpoint(small only) {
      width: 100%;
    }
  }
}

/* Mobile Header/Side-Nav */

// The .off-canvas classes control the sliding mobile sidebar speed & positioning.
.off-canvas.position-left {
  height: auto;
  top: 0;
  transform: translateX(-$offcanvas-left-size);
  transition: transform 0.3s ease-in-out;
  width: $offcanvas-left-size;
}

.off-canvas.position-left.is-open {
  box-shadow: $base-box-shadow;
  transform: translate(0, 0);
}

.off-canvas.is-transition-overlap {
  z-index: 10010;
}

.js-off-canvas-overlay {
  z-index: 10000;
}

.m-side-nav__content .js-drilldown-back {
  background: $border-grey;
  padding: 0.75rem 0.5rem;

  a {
    background-color: transparent;
    color: $dark-grey-text;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 1.5rem;
    padding: .75rem .5rem;

    &::after {
      display: none !important; // !important overrides default foundation arrow
    }

    &::before {
      // font-family: "Font Awesome 5 Free";
      border: none;
      color: $dark-grey-text;
      content: fa-content($fa-var-chevron-left);
      font-family: "FontAwesome";
      font-size: 0.8rem;
      font-weight: 100;
      left: 0.25rem;
      line-height: 1.4;
      margin-left: 0.75rem;
      position: absolute;
    }
  }
}

.drilldown .is-drilldown-submenu {
  margin-top: 62px;
  transition: transform 0.3s ease-in-out;
}

.m-side-nav__link {
  border-bottom: 1px solid $border-grey;
  color: $dark-grey-text;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
  padding: .75rem .5rem;

  &:hover,
  &:active,
  &:focus {
    color: $dark-grey-text;
    text-decoration: none;
  }

  &::after {
    display: none !important; // !important overrides default foundation arrow
  }

  &::before {
    // font-family: "Font Awesome 5 Free";
    border: none;
    color: $black;
    content: fa-content($fa-var-chevron-right);
    font-family: "FontAwesome";
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 2.5;
    margin-left: 1rem;
    position: absolute;
    right: 1rem;
  }
}

.m-side-nav__child-link {
  border-bottom: 1px solid $border-grey;
  color: $dark-grey-text;
  font-size: 1rem; 
  font-weight: 400;
  margin: 0 1rem;
  padding: .75rem 1rem;

  &:hover,
  &:active,
  &:focus {
    color: $dark-grey-text;
    text-decoration: none;
  }
}

.m-side-nav__list {
  margin-bottom: 1rem;

  .side-nav__item {
    background-color: $blue-main-brand;
    border-bottom: none;
    height: auto;
    padding: 0.75rem 0.5rem;
    max-height: 62px;
  }

  .side-nav__link {
    background-color: transparent;
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      border: none;
      color: $white;
      content: fa-content($fa-var-chevron-right);
      display:inline-block;
      // font-family: "Font Awesome 5 Free";
      font-family: "FontAwesome";
      font-size: 0.8rem;
      font-weight: 100;
      margin-left: 1rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
