.table {
  margin-bottom: $base-margin;

  &--ash-bg {
    background: $ash;
  }

  &__row {
    @include grid-row;
    overflow: auto;
    padding: $base-padding 0;

    &--striped {
      @extend .table__row;

      &:nth-child(odd) {
        background: $bg-grey-lightest;
      }
    }

    &--grey-bg {
      @extend .table__row;
      background: $bg-grey-lightest;
      padding: 0;
      margin-top: 3px;
    }
  }

  &__bg-spacing {
    padding-top: $base-padding/2;
    padding-bottom: $base-padding/2;
  }

  &__row-nested {
    @include grid-row-nest;
    @include clearfix;
  }

  &__data {
    display: block;

    &--left {
      float: left;
    }

    &--right {
      float: right;
    }

    &--center {
      @extend .table__data;
      text-align: center;
      clear: both;
    }

    &--hide-large {
      @include hide-for(large);
    }
  }

  &__header {
    @include show-for(medium);

    &--grey-bg {
      @extend .table__header;
      background: $bg-grey-lightest;
    }
  }

  &__col-title {
    font-weight: 600;

    &--medium {
      font-weight: 600;
      font-size: $base-font-size;
      color: $slate;
    }

    &--small {
      font-weight: 600;
      font-size: $small-font-size;
    }
  }

  &__col-title-link {
    padding-left: $base-padding;
  }

  &__col-color {
    &--green {
      background: $green-rewards--dark-med;
    }
  }
}

.table-with-bg {
  margin-bottom: $base-margin;

  &__row {
    @include grid-row;
    overflow: auto;
  }
}
