<!DOCTYPE html>
<html>
<head>
  <title>Styles</title>
  <%= stylesheet_link_tag    "styles/application", media: "all" %>
  <%= javascript_include_tag "styles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
