
$button-background: rgb(0, 112, 210);
$button-font-weight: rgb(0, 0, 0);
$button-secondary-background-color: rgb(0, 32, 91);
$button-danger-background-color: rgb(218, 41, 28);
$button-highlighted-background-color: rgb(120, 190, 32);
