/*
    Colors:
*/

$color-brand-red: #da291c;
$color-brand-green: #78be20;
$color-brand-blue-insurance: #00a3e0;
$color-brand-blue-light: #00539b;
$color-brand-blue-dark: #00205b;
$color-green: #3fae60;
$color-sky: #e2f4fc;
$color-ocean: #8cceec;
$color-cerulean: #2577be;
$color-ash: #f7f7f7;
$color-stone: #eeeeee;
$color-smoke: #cccccc;
$color-stormcloud: #979797;
$color-slate: #838383;
$color-charcoal: #656565;
$color-jet: #323232;
$color-white: #ffffff;
$color-orange: #e7992b;
$color-canary: #ffc345;
$color-hint-text-colour: #a6a6a6;

/*
    Font Styles:
*/

/* Body font style */
$font-body-font-size: 14px;
$font-body-line-height: normal;
$font-body-text-align: start;
$font-body-color: #838383;
$font-body-letter-spacing: -0.22px;
$font-body-font-style: normal;
$font-body-font-weight: 400;
$font-body-font-family: Open Sans;

@mixin font-body () {
  font-size: $font-body-font-size;
  line-height: $font-body-line-height;
  text-align: $font-body-text-align;
  color: $font-body-color;
  letter-spacing: $font-body-letter-spacing;
  font-style: $font-body-font-style;
  font-weight: $font-body-font-weight;
  font-family: $font-body-font-family;
}

/* Page Header font style */
$font-page-header-font-size: 20px;
$font-page-header-line-height: normal;
$font-page-header-text-align: start;
$font-page-header-color: #ffffff;
$font-page-header-letter-spacing: -0.31px;
$font-page-header-font-style: normal;
$font-page-header-font-weight: bold;
$font-page-header-font-family: Open Sans;

@mixin font-page-header () {
  font-size: $font-page-header-font-size;
  line-height: $font-page-header-line-height;
  text-align: $font-page-header-text-align;
  color: $font-page-header-color;
  letter-spacing: $font-page-header-letter-spacing;
  font-style: $font-page-header-font-style;
  font-weight: $font-page-header-font-weight;
  font-family: $font-page-header-font-family;
}

/* Page Header Italic font style */
$font-page-header-italic-font-size: 17.5px;
$font-page-header-italic-line-height: normal;
$font-page-header-italic-text-align: start;
$font-page-header-italic-color: #ffffff;
$font-page-header-italic-letter-spacing: -0.27px;
$font-page-header-italic-font-style: italic;
$font-page-header-italic-font-weight: 400;
$font-page-header-italic-font-family: Open Sans;

@mixin font-page-header-italic () {
  font-size: $font-page-header-italic-font-size;
  line-height: $font-page-header-italic-line-height;
  text-align: $font-page-header-italic-text-align;
  color: $font-page-header-italic-color;
  letter-spacing: $font-page-header-italic-letter-spacing;
  font-style: $font-page-header-italic-font-style;
  font-weight: $font-page-header-italic-font-weight;
  font-family: $font-page-header-italic-font-family;
}

/* Section Heading font style */
$font-section-heading-font-size: 20px;
$font-section-heading-line-height: normal;
$font-section-heading-text-align: start;
$font-section-heading-color: #ffffff;
$font-section-heading-letter-spacing: -0.31px;
$font-section-heading-font-style: normal;
$font-section-heading-font-weight: bold;
$font-section-heading-font-family: Open Sans;

@mixin font-section-heading () {
  font-size: $font-section-heading-font-size;
  line-height: $font-section-heading-line-height;
  text-align: $font-section-heading-text-align;
  color: $font-section-heading-color;
  letter-spacing: $font-section-heading-letter-spacing;
  font-style: $font-section-heading-font-style;
  font-weight: $font-section-heading-font-weight;
  font-family: $font-section-heading-font-family;
}

/* Link Text font style */
$font-link-text-font-size: 14px;
$font-link-text-line-height: normal;
$font-link-text-text-align: center;
$font-link-text-color: #2577be;
$font-link-text-letter-spacing: -0.22px;
$font-link-text-font-style: normal;
$font-link-text-font-weight: 400;
$font-link-text-font-family: Open Sans;

@mixin font-link-text () {
  font-size: $font-link-text-font-size;
  line-height: $font-link-text-line-height;
  text-align: $font-link-text-text-align;
  color: $font-link-text-color;
  letter-spacing: $font-link-text-letter-spacing;
  font-style: $font-link-text-font-style;
  font-weight: $font-link-text-font-weight;
  font-family: $font-link-text-font-family;
}

/* Link Text White font style */
$font-link-text-white-font-size: 14px;
$font-link-text-white-line-height: normal;
$font-link-text-white-text-align: start;
$font-link-text-white-color: #ffffff;
$font-link-text-white-text-decoration: underline;
$font-link-text-white-letter-spacing: -0.22px;
$font-link-text-white-font-style: normal;
$font-link-text-white-font-weight: 400;
$font-link-text-white-font-family: Open Sans;

@mixin font-link-text-white () {
  font-size: $font-link-text-white-font-size;
  line-height: $font-link-text-white-line-height;
  text-align: $font-link-text-white-text-align;
  color: $font-link-text-white-color;
  text-decoration: $font-link-text-white-text-decoration;
  letter-spacing: $font-link-text-white-letter-spacing;
  font-style: $font-link-text-white-font-style;
  font-weight: $font-link-text-white-font-weight;
  font-family: $font-link-text-white-font-family;
}

/* Hint Text font style */
$font-hint-text-font-size: 11.899999618530273px;
$font-hint-text-line-height: normal;
$font-hint-text-text-align: start;
$font-hint-text-color: #a6a6a6;
$font-hint-text-letter-spacing: -0.18px;
$font-hint-text-font-style: italic;
$font-hint-text-font-weight: 400;
$font-hint-text-font-family: Open Sans;

@mixin font-hint-text () {
  font-size: $font-hint-text-font-size;
  line-height: $font-hint-text-line-height;
  text-align: $font-hint-text-text-align;
  color: $font-hint-text-color;
  letter-spacing: $font-hint-text-letter-spacing;
  font-style: $font-hint-text-font-style;
  font-weight: $font-hint-text-font-weight;
  font-family: $font-hint-text-font-family;
}

/* Mice Type font style */
$font-mice-type-font-size: 11.19999980926514px;
$font-mice-type-line-height: normal;
$font-mice-type-text-align: center;
$font-mice-type-color: #838383;
$font-mice-type-letter-spacing: -0.31px;
$font-mice-type-font-style: italic;
$font-mice-type-font-weight: 400;
$font-mice-type-font-family: Open Sans;

@mixin font-mice-type () {
  font-size: $font-mice-type-font-size;
  line-height: $font-mice-type-line-height;
  text-align: $font-mice-type-text-align;
  color: $font-mice-type-color;
  letter-spacing: $font-mice-type-letter-spacing;
  font-style: $font-mice-type-font-style;
  font-weight: $font-mice-type-font-weight;
  font-family: $font-mice-type-font-family;
}

/* breadcrumbs font style */
$font-breadcrumbs-font-size: 12px;
$font-breadcrumbs-line-height: normal;
$font-breadcrumbs-text-align: left;
$font-breadcrumbs-color: #2577be;
$font-breadcrumbs-letter-spacing: -0.31px;
$font-breadcrumbs-font-style: normal;
$font-breadcrumbs-font-weight: 400;
$font-breadcrumbs-font-family: Open Sans;

@mixin font-breadcrumbs () {
  font-size: $font-breadcrumbs-font-size;
  line-height: $font-breadcrumbs-line-height;
  text-align: $font-breadcrumbs-text-align;
  color: $font-breadcrumbs-color;
  letter-spacing: $font-breadcrumbs-letter-spacing;
  font-style: $font-breadcrumbs-font-style;
  font-weight: $font-breadcrumbs-font-weight;
  font-family: $font-breadcrumbs-font-family;
}

/* Body Copy font style */
$font-body-copy-font-size: 14px;
$font-body-copy-line-height: normal;
$font-body-copy-text-align: start;
$font-body-copy-color: #838383;
$font-body-copy-letter-spacing: -0.22px;
$font-body-copy-font-style: normal;
$font-body-copy-font-weight: 400;
$font-body-copy-font-family: Open Sans;

@mixin font-body-copy () {
  font-size: $font-body-copy-font-size;
  line-height: $font-body-copy-line-height;
  text-align: $font-body-copy-text-align;
  color: $font-body-copy-color;
  letter-spacing: $font-body-copy-letter-spacing;
  font-style: $font-body-copy-font-style;
  font-weight: $font-body-copy-font-weight;
  font-family: $font-body-copy-font-family;
}

/* Body Copy - white font style */
$font-body-copy-white-font-size: 14px;
$font-body-copy-white-line-height: normal;
$font-body-copy-white-text-align: start;
$font-body-copy-white-color: #ffffff;
$font-body-copy-white-letter-spacing: -0.22px;
$font-body-copy-white-font-style: normal;
$font-body-copy-white-font-weight: bold;
$font-body-copy-white-font-family: Open Sans;

@mixin font-body-copy-white () {
  font-size: $font-body-copy-white-font-size;
  line-height: $font-body-copy-white-line-height;
  text-align: $font-body-copy-white-text-align;
  color: $font-body-copy-white-color;
  letter-spacing: $font-body-copy-white-letter-spacing;
  font-style: $font-body-copy-white-font-style;
  font-weight: $font-body-copy-white-font-weight;
  font-family: $font-body-copy-white-font-family;
}

/* Section Sub-head font style */
$font-section-sub-head-font-size: 18px;
$font-section-sub-head-line-height: normal;
$font-section-sub-head-text-align: start;
$font-section-sub-head-color: #656565;
$font-section-sub-head-letter-spacing: -0.28px;
$font-section-sub-head-font-style: normal;
$font-section-sub-head-font-weight: bold;
$font-section-sub-head-font-family: Open Sans;

@mixin font-section-sub-head () {
  font-size: $font-section-sub-head-font-size;
  line-height: $font-section-sub-head-line-height;
  text-align: $font-section-sub-head-text-align;
  color: $font-section-sub-head-color;
  letter-spacing: $font-section-sub-head-letter-spacing;
  font-style: $font-section-sub-head-font-style;
  font-weight: $font-section-sub-head-font-weight;
  font-family: $font-section-sub-head-font-family;
}

/* Body Copy Italic font style */
$font-body-copy-italic-font-size: 14px;
$font-body-copy-italic-line-height: normal;
$font-body-copy-italic-text-align: start;
$font-body-copy-italic-color: #838383;
$font-body-copy-italic-letter-spacing: -0.22px;
$font-body-copy-italic-font-style: italic;
$font-body-copy-italic-font-weight: 400;
$font-body-copy-italic-font-family: Open Sans;

@mixin font-body-copy-italic () {
  font-size: $font-body-copy-italic-font-size;
  line-height: $font-body-copy-italic-line-height;
  text-align: $font-body-copy-italic-text-align;
  color: $font-body-copy-italic-color;
  letter-spacing: $font-body-copy-italic-letter-spacing;
  font-style: $font-body-copy-italic-font-style;
  font-weight: $font-body-copy-italic-font-weight;
  font-family: $font-body-copy-italic-font-family;
}

/* Link Text font style */
$font-link-text-font-size: 14px;
$font-link-text-line-height: normal;
$font-link-text-text-align: start;
$font-link-text-color: #2577be;
$font-link-text-letter-spacing: -0.22px;
$font-link-text-font-style: normal;
$font-link-text-font-weight: 400;
$font-link-text-font-family: Open Sans;

@mixin font-link-text () {
  font-size: $font-link-text-font-size;
  line-height: $font-link-text-line-height;
  text-align: $font-link-text-text-align;
  color: $font-link-text-color;
  letter-spacing: $font-link-text-letter-spacing;
  font-style: $font-link-text-font-style;
  font-weight: $font-link-text-font-weight;
  font-family: $font-link-text-font-family;
}

/* Section Sub-head font style */
$font-section-sub-head-font-size: 18px;
$font-section-sub-head-line-height: normal;
$font-section-sub-head-text-align: start;
$font-section-sub-head-color: #656565;
$font-section-sub-head-letter-spacing: -0.28px;
$font-section-sub-head-font-style: normal;
$font-section-sub-head-font-weight: 600;
$font-section-sub-head-font-family: Open Sans;

@mixin font-section-sub-head () {
  font-size: $font-section-sub-head-font-size;
  line-height: $font-section-sub-head-line-height;
  text-align: $font-section-sub-head-text-align;
  color: $font-section-sub-head-color;
  letter-spacing: $font-section-sub-head-letter-spacing;
  font-style: $font-section-sub-head-font-style;
  font-weight: $font-section-sub-head-font-weight;
  font-family: $font-section-sub-head-font-family;
}

/* Body Copy - white font style */
$font-body-copy-white-font-size: 14px;
$font-body-copy-white-line-height: normal;
$font-body-copy-white-text-align: start;
$font-body-copy-white-color: #ffffff;
$font-body-copy-white-letter-spacing: -0.22px;
$font-body-copy-white-font-style: normal;
$font-body-copy-white-font-weight: 400;
$font-body-copy-white-font-family: Open Sans;

@mixin font-body-copy-white () {
  font-size: $font-body-copy-white-font-size;
  line-height: $font-body-copy-white-line-height;
  text-align: $font-body-copy-white-text-align;
  color: $font-body-copy-white-color;
  letter-spacing: $font-body-copy-white-letter-spacing;
  font-style: $font-body-copy-white-font-style;
  font-weight: $font-body-copy-white-font-weight;
  font-family: $font-body-copy-white-font-family;
}

/* Body Copy Bold font style */
$font-body-copy-bold-font-size: 14px;
$font-body-copy-bold-line-height: normal;
$font-body-copy-bold-text-align: start;
$font-body-copy-bold-color: #656565;
$font-body-copy-bold-letter-spacing: -0.31px;
$font-body-copy-bold-font-style: normal;
$font-body-copy-bold-font-weight: bold;
$font-body-copy-bold-font-family: Open Sans;

@mixin font-body-copy-bold () {
  font-size: $font-body-copy-bold-font-size;
  line-height: $font-body-copy-bold-line-height;
  text-align: $font-body-copy-bold-text-align;
  color: $font-body-copy-bold-color;
  letter-spacing: $font-body-copy-bold-letter-spacing;
  font-style: $font-body-copy-bold-font-style;
  font-weight: $font-body-copy-bold-font-weight;
  font-family: $font-body-copy-bold-font-family;
}
