<!DOCTYPE html>
<html>
<head>
  <title>Ama styles</title>
  <%= stylesheet_link_tag    "ama_styles/application", media: "all" %>
  <%= javascript_include_tag "ama_styles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
